@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.play-line:nth-child(even) {
  background-color: #D6D6D6;
}

.play-line:nth-child(odd) {
  background-color: #C9C9C9;
}

.highlight-role {
  color: #004400;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #171717;
    --foreground: #DEDEDE;
  }

  .play-line:nth-child(even) {
    background-color: #2c2c2c;
  }

  .play-line:nth-child(odd) {
    background-color: #242424;
  }

  .highlight-role {
    color: #00CC00;
  }
}

.play-line-text {
  display: block;
}

.roles {
  margin-left: 10px;
  margin-bottom: 10px;
}
.role+.role {
  margin-left: 10px;
}
